* {
    box-sizing: border-box;
    text-align: center;
}
body{
    text-align: center;
        background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF3d3d////riJKgAAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgBAEGGMmAxAYCgAADAAGGABmnk/7aAAAAAElFTkSuQmCC);
        font: 13px 'trebuchet MS', Arial, Helvetica;
        font-size: 1.8vmin;
    }
img {
    max-width: 100%;
}


#page-wrap {
  text-align: center; 
}
.team1-image {
}

.oldboyslogo_image {
    max-width: 100%;
}

.container {
    padding-left: 20vw;
    padding-right: 20vw;
}

.container > .uk-grid {
    margin-left: 0px;
}

.container > .uk-grid > .uk-width-1-5, .uk-width-3-5 {
    padding-left: 0px;
    margin: auto;

}
    

.team1-image {
    max-width: 100%;
}

.team2-image {
    max-width: 100%;
}

.header-wrap {
    margin-left: -25px;
}

.menu-wrap {
    margin-left: -25px;
    margin-top: 10px;
}

.uk-thumbnav {
    margin-left: -25px;
    margin-top: 5px;
}

.pic {}



